body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Karla', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-section {
    border: 1px solid red;
    display: flex;  
    align-items: center;
    gap: 150px;
}

.top-section .left {
    padding-left: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.top-section .right {

}

.bottom-section{
    padding: 20px;
    display: flex;
    align-content: space-around;
    gap: 100px;
}

.bottom-section .left{

}

.bottom-section .right{

}

#avatar {
    max-width: 50%;
    max-height: 50%;
}

#school-logo {
    max-width: 40%;
}